.main{
  font-family: unset;
  color: #b84747;
}

/* top */
.banner{
  height: auto;
  display: flex;
}

.bBlock{
  width: 20%;
  overflow: hidden;
}

.bBlock img{
  width: 159%;
  margin: 0px 0px 0px -85px;
}

.fadeInDown{
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.topic{
  font-size: 30px;
  font-weight: 900;
  padding: 15px 0;
  letter-spacing: 10px;
}

.caption{
  width: 20%;
  position: relative;
}

.captionText{
  width: 70%;
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.goStart{
  font-size: 36px;
  font-weight: 800;
  position: absolute;
  bottom: 3%;
  width: 100%;
  color: #242323;
  animation: flicker 2s infinite ease;
  text-align: center;
}

.goStart:hover{
  cursor: pointer; 
  opacity: 1;
  color: #242323;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

/* view */
.view{
  position: relative;
  height: 100vh;
  background-color: #e9e5de;
  overflow: hidden;
}

.viewBG{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.3;
}

.customArea{
  width: 1080px;
  top: 50%;
  left: 50%; 
  transform: translate(-50%,-50%);
  position: relative;
  display: table;
}

.customAreaTopic{
  position: absolute;
  left: -183px;
  top: -98px;
  letter-spacing: 5px;
  font-size: 22px;
  font-family: unset;
  padding: 0 0 0 15px;
  border-left: 7px solid #b74747;
}

/* view-show */
.show{
  position: absolute;
  width: 600px;
  height: 420px;
  -webkit-box-shadow: 0px 15px 15px rgba(0,0,0,0.1);
  box-shadow: 0px 15px 15px rgba(0,0,0,0.1);
}

.cardBlock{
  width: 100%;
  height: 100%;
}

.selectedImage{
  position: absolute;
  width: 200px;
  top: 55%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardText{
  padding: 28px 25px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.cardDate{
  position: absolute;
  float: right;
  right: 0;
  bottom: 0;
  margin: 0 15px 15px 0;
  color: rgb(255, 230, 67);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  text-shadow: -1px -1px white, 1px 1px #bfbfbf
}

.btn-warning{
  opacity: 0.3;
  position: absolute;
  top: 103%;
  right: 0;
  padding: 8px 10px;
  transition: opacity 0.3s ease; 
}

.btn-warning:hover{
  opacity: 1;
}


/* view-menu */
.menu{
  width: 430px;
  height: 420px;
  padding: 15px 45px;
  float: right;
  background-color: #e9e5de;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 2rem;
  border: none;
}

.materialImg{
  width: 100px;
  height: auto;
}

.form-control {
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.spanText{
  width: 95%;
}

.glyphicon{
  width: 5%;
}

/* view-popup */
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  /* height: 400px; */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
  color: #555;
}

.popupOverlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  opacity: 0.4;
  background: none repeat scroll 0 0 #000000;
}

.popupTitle{
  height: 30px;
  background: #f1f1f1;
}

.popupDiv{
  overflow: auto;
  max-height: 520px;
}

.popupContent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px 0;
}

.popupContent div{
  padding: 8px 0px;
}

.popupContent p{
  line-height: 35px;
}

.popupBtn{
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    transition: color .1s ease-out;
    border: none;
    border-radius: 0;
    background: 0 0;
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
}

.nextBtn{
  width: 100%;
  margin: 20px 0;
}

/* goSend */
#goSend{
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e9e5de;
}

.divHeight{
  height: 100vh;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
  text-decoration: none;
}

#sendBtn{
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;
}

.chooseBtn{
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 100px;
  font-size: 18px;
}

.chooseBtn:hover,
.chooseBtn_click:hover{
  color:#ffffff;
  background-color: #555;
}

.chooseBtn_click{
  width: 200px;
  height: 200px;
  margin: 30px;
  border-radius: 100px;
  font-size: 18px;
  color:#ffffff;
  background-color: #555;
}

.lineDiv{
  margin: 16px 0;
}

#emailDelivery{
  width: 900px;
  border-radius: 20%;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 30px;
  padding: 50px;
}

#emailDelivery p{
  line-height: 28px;
}

#emailDelivery a{
  text-decoration: underline ;
  color: #000;
  cursor: pointer;
}

#paperDelivery{
  width: 900px;
  border-radius: 20%;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  border-radius: 30px;
  padding: 50px;
}

.fadeIn {
  display: block;
  animation: 1s fade-in ease;
}

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeOut{
  display: none;
  animation: 1s fade-out ease;
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

#sendForm{
  display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;
}