.main{
  margin: 40px 0;
}

.view{
  width: 900px;
  background-color: rgb(216, 216, 216);
  left: 50%; 
  transform: translateX(-50%);
  position: relative;
  display: table;
}

/* show */
.show{
  position: absolute;
  width: 500px;
  height: 350px;
  border: 1px solid #000000;
}

.selectedImage{
  position: absolute;
  width: 200px;
  top: 55%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardText{
  padding: 20px 30px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 900;
  font-family: 'Source Code Pro', monospace;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.cardDate{
  position: absolute;
  float: right;
  right: 0;
  bottom: 0;
  margin: 0 15px 15px 0;
  color: rgb(255, 230, 67);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  text-shadow: -1px -1px white, 1px 1px #bfbfbf
}

/* menu */
.menu{
  width: 400px;
  padding: 10px 30px;
  float: right;
}

.materialImg{
  width: 100px;
  height: auto;
}


.form-control {
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.spanText{
  width: 95%;
}

.glyphicon{
  width: 5%;
}

.popup{
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 700px;
  /* height: 400px; */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
  /* max-height: 550px; */
}

.popupDiv{
  overflow: auto;
  max-height: 520px;
}

.popupContent{
  /* display: flex; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.popupBtn{
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    transition: color .1s ease-out;
    border: none;
    border-radius: 0;
    background: 0 0;
    font-family: serif;
    font-size: 2.5em;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
}

.nextBtn{
  width: 100%;
  margin: 20px 0;
}

a{
  color: #ffffff;
  text-decoration: none;
}

a:hover{
  color: #ffffff;
  text-decoration: none;
}

/* inform */
#inform{
  /* display: block; */
  width: 900px;
  margin: 40px 0;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}